.task-9 {
	display: block;
	width: 100%;
}

.little-grid {
	background-color: #666;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

.little-grid__left,
.little-grid__right {
	background-color: #c5c5c5;
	display: block;
	margin: 5px;
	padding: 10px;
}

@media screen and (min-width: 1024px) {
	.little-grid__left,
	.little-grid__right {
		display: inline-block;
		width: 45%;
	}
}
