.large-image {
	background-image: url("https://picsum.photos/id/1002/500/300?image=18");
	background-position: center;
	background-size: contain;
	height: 300px;
	width: 500px;
}

.small-image {
	background-image: url("https://picsum.photos/id/1024/100/100?image=1");
	content: "";
	height: 100px;
	width: 100px;
}
