.flying-wizard {
	display: block;
	animation: move 5s ease infinite;
}

.flying-wizard__outline {
	fill: #010101;
}

.flying-wizard__clothes {
	fill: #9d9ea1;
}

.flying-wizard__skin {
	fill: #fff;
}

.flying-wizard__power {
	fill: #ef5798;
}


@keyframes move {
	0% {
		transform: translate(0, 0);
	}
	20% {
		transform: translate(20%, 80%);
	}
	40% {
		transform: translate(50%, -40%);
	}
	60% {
		transform: translate(80%, 100%);
	}
	80% {
		transform: translate(30%, 70%);
	}
	100% {
		transform: translateX(0, 0);
	}
}